nav a {
       

         /*padding-left: 50px;
         padding-top: 10px;
         padding-bottom: 10px;
         background-color:grey;
         top: 0;*/
        color: #fff;
        text-decoration: none;
        padding: 7px 25px;
        display: inline-block;


             
           }
body{        
        padding-top: 0;
        padding-bottom: 0;
    }


.navbar {
  overflow: hidden;
  background-color: black;
  width: 100%;
}

.navbar a {
  float: left;
  font-size: 20px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 20px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

.navbar a:visited, .dropdown:visited .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
span.b {
  display: inline-block;
  width: 100px;
  height: 100px;
  padding: 5px;
  border: 3px solid ;  
  box-shadow:10px;
  background-color: wheat; 
}
 .thumbnail{
    overflow: auto;
  display: inline-block;
  width:300px;
  height: auto;
  padding: 50px;
  text-align: center;
  color: black;
  margin: 15px;
  
}
.thumbnail:hover {
    -moz-box-shadow: 2px 2px 5px #999;
  -webkit-box-shadow: 2px 2px 5px #999;
  box-shadow: 2px 2px 5px #999;

}
.subscribe{
    background-color: red;
}
#left{
    float: left;
    width: 50%;
     height: 110px;
     text-align: center; 
    background-color: red;
}
#left p{
    padding-left: 10px;
    padding-right: 10px;
    text-align: none;
}
#right{
    float: right;
    width: 50%;
    height: 110px;
    text-align: center;
     background-color: red;
}
input{
    width: 400px;
    padding: 8px;
    margin-top: 10px
}

</style>