
.navbar-custom{
     background-color: rgb(0,0,0,0.9); 
     
}
.navbar{
    padding-bottom: 1px;
    padding-top: 1px;
}
.nav-item .nav-link
{
    color: rgb(255,255,255);
}

.navbar-custom .nav-item.active .nav-link{
    color: rgb(255,0,0,0.9);
}

.nav-item:hover .nav-link{
    color: rgb(255,0,0,0.9);
}

.navbar-custom .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;..");
}

.bg-img{
    overflow: auto;
    background-image: url("img/ngo1.jpg");
    height: 700px;
    background-position: center;
    background-size: cover;
}

.textcenter{
    padding-left: 15%;
    width: 60%;
}

.templet{
    background:#ff5c33;
    width:100%;
    height: 50%;
    font-family: sans-serif;
    color: white;
}

.img-thumbnail{
    border: none;
    margin: 0px;
    padding: 50px;
    width: 100%;
}

.img-thumbnail:hover{
    box-shadow: 2px 8px 12px 8px rgba(0, 0, 0, 0.3);
}

.pics{
    width: 70%;
    height: 50%;
}